{% extends 'base.html' %}
{% load i18n %}
{% block "title" %}{% trans "My Comments" %}{% endblock %}

{% block "content" %}
    <div class="media-body">
        {% if comments %}
        <h4>{% trans "My Comments:" %}</h4>
        {% for comment in comments %}
        <a href="{% url 'post' comment.post.pk %}"><small class="text-muted">{% trans "Post" %}: {{ comment.post.title }}</small><br/></a>
        <small class="text-muted">{{ comment.author }}, {{ comment.date|date:"Y-m-d, f" }}</small>
        <p>{{ comment.content|safe }}</p>
        <p></p>
        {% endfor %}
        {% else %}
        <p>{% trans "No Comments" %}</p>
        {% endif %}
    </div>
{% endblock %}