{% extends 'base.html' %}
{% load i18n %}
{% block "title" %}{% trans "My Posts" %}{% endblock %}

{% block "content" %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_new' %}">{% trans "New Post" %}</a>
{% if posts %}
<h1>{% trans "My Posts:" %}</h1>
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <img class="rounded-circle account-img" style="width: 30px" src="{{ post.author.profile.photo.url }}">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date|date:"Y-m-d, f" }}</small>
            <h2><a class="article-title">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatewords:"30"|safe }}</p>
            <p class="card-text"><a href="{% url 'post' post.pk %}">{% trans "Read more" %}</a></p>
            <a>{% trans "Comments" %}: {{ post.num_comments }}</a>
        </div>
        <hr>
    </div>
</article>
{% endfor %}
{% else %}
<p>{% trans "No Comments" %}</p>
{% endif %}
{% endblock %}