{% extends 'base.html' %}

{% block "title" %}Įrašas{% endblock %}
{% block "content" %}


{% load static %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date|date:"Y-m-d, f" }}</small>
            <h2><a class="article-title">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
            <a>Komentarų: {{ post.num_comments }}</a>
        </div>
        <hr>
        {% if post.comments.all %}
        <h4>Komentarai:</h4>
        {% for comment in post.comments.all %}
        <small class="text-muted">{{ comment.author }}, {{ comment.date|date:"Y-m-d, f" }}</small>
        <p>{{ comment.content|safe }}</p>
        <p></p>
        {% endfor %}
        {% else %}
        <p>Nėra komentarų</p>
        {% endif %}
    </div>
</article>
{% if post.photos.all %}
<div class="row">
    {% for photo in post.photos.all %}
    <div class="col-md-4 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
            <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
