{% extends "base.html" %}
{% load i18n %}
{% block "title" %}{% trans "Post Edit" %}{% endblock%}

{% block "content" %}
<div class="content-section">
    <form method="POST">
    {% csrf_token %}
    {% load crispy_forms_tags %}
        <legend class="border-bottom mb-4">{% trans "Post Edit" %}</legend>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">{% trans "Save" %}</button>
        </div>
    </form>
</div>
{% endblock %}